@charset "utf-8";

/* Typical Device breakpoints
-------------------------------
Pequenas telas; ate 600px
Celular: de 600px até 768px
tablet: 768px até 992px
Desktop: 992px até 1200px
grandes telas: acima de 1200px*/


@media screen and (min-width: 760px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #567a86,#666869);
    }
    
    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #567a86,#666869);
    }
    
    section#login {
        width: 940px;
    }

    section#login > div#imagem{
        float:left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}